<h2 id="title">Welcome to Ember</h2>

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }} class="btn btn-danger navbar-btn navbar-right">Logout</a>
{{else}}
  <button {{action 'authenticate' 'pocket'}}>Login with Pocket</button>
  <button {{action 'authenticate' 'google-oauth2'}}>Login with Google</button>
{{/if}}

{{outlet}}
